<div class="card" style="padding:15px;max-width:400px;background-color: lightyellow; margin-top:1em">
    <h3 class="text-uppercase"><%= event.title%>
    <p class="text-secondary"><%= event.created_at%></p>
    <%= link_to "Read more", event%>
</div>