 <h1> <strong>Title:</strong> </h1>

<div>
  <%= @event.title %>
</div>

<div>
  <strong>Description:</strong>
  <%= @event.description %>
</div>


<div>
  <%= link_to "Delete event", @event, method: :delete%> 
</div>
